/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
  
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}

body {
  margin: auto;
  width: 1020px;
  
  font-family: "Lato";
  text-align: left;
  color: #666d89;
}

.portfolio {
  padding: 70px 40px;
  background: #2d303a;
  height: 725px;
  border-bottom: 6px solid #323746;
}

.portfolio h2 {
  font-size: 30px;
  line-height: 18px;
  font-weight: 900;
}

.portfolio p {
  padding-top: 27px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

a.catalog {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  
  margin-right: 10px;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #666d89;
}

a.catalog:hover {
  color: #dedede;
  border: 1px solid #dedede;
}

div.images {
  padding-top: 15px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.box01, .box02, .box03, .box04, .box05, .box06, .box07, .box08, .box09, .box10, .box11, .box12 {
  width: 220px;
  height: 187px;
}

.box01 {
  background-image: url(assets/img/Project01.png);
  background-position: -10px -10px;
}

.box02 {
  background-image: url(assets/img/Project02.png);
  background-position: -82px -43px;
}

.box03 {
  background-image: url(assets/img/Project03.png);
  background-position: -10px 0;
}

.box04 {
  background-image: url(assets/img/Project04.png);
  background-position: -20px 0;
}

.box05 {
  background-image: url(assets/img/Project05.png);
  background-position: -10px -10px;
}

.box06 {
  background-image: url(assets/img/Project06.png);
  background-position: -10px -10px;
}

.box07 {
  background-image: url(assets/img/Project07.png);
  background-position: -50px -50px;
}

.box08 {
  background-image: url(assets/img/Project08.png);
  background-position: -20px -50px;
}

.box09 {
  background-image: url(assets/img/Project09.png);
  background-position: -10px 0;
}

.box10 {
  background-image: url(assets/img/Project10.png);
  background-position: -130px -110px;
}

.box11 {
  background-image: url(assets/img/Project11.png);
  background-position: -150px -170px;
}

.box12 {
  background-image: url(assets/img/Project12.png);
  background-position: -50px -50px;
}

.box13 {
  background-image: url(assets/img/Project10.png);
  background-position: -130px -110px;
}

.box14 {
  background-image: url(assets/img/Project11.png);
  background-position: -150px -170px;
}

.box15 {
  background-image: url(assets/img/Project12.png);
  background-position: -50px -50px;
}
